#au{
    color: rgb(42, 203, 58);
    font-weight: bolder;
    font-size: 40px;
    font-family: cursive;
    height: 60px;
    width:100%;
    background-color: black;
    text-align:center;
    position: fixed;
    top: 0;
    left: 0;
    margin:0 0 0 0;
    z-index:100%;
}

p{
    margin-top: 80px; /* Pushes content below the fixed header */
    width: 100%;
    color:yellow;
    font-weight: lighter;
    font-size: 25px;
    text-align:center;
    text-transform: capitalize;
    line-height:38px;
    text-align:center;
}

body{
    background-image: url(background.jpg);
    background-size: cover;
}