#heading{
        height: 56px;
        width:100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        margin:0 0 0 0;
        z-index:100%;
}
#cn{
    color: rgb(42, 203, 58);
    font-weight: bolder;
    font-size: 20px;
    font-family: cursive;
}

.hd{
    color: rgb(42, 203, 58);
    font-weight: bolder;
    font-size: 18px;
    font-family: cursive;
    text-decoration: none;
    transition-property: all;
    transition-timing-function:ease-in ;
}

.hd:active{
         color: red;
         font-size: 22px;
}
#main-content {
    margin-top: 60px; /* Pushes content below the fixed header */
    width: 100%;
}

#w {
    color: rgb(42, 203, 58);
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
}

h2{
    color:yellowgreen;
    font-weight: lighter;
    font-size: 20px;
    text-align:center;
    text-transform: capitalize;
    line-height:30px;
    height:100px;
    width:100%;
    background-color:rgb(150, 16, 16) ;
    border: 3px solid brown;
    padding:20px 20px 20px 20px;
    text-align:center;
    left: 0;
    right: 0;
    box-sizing: border-box; 
}

#ms{
      font-size: 20px;
      font-weight: bold;
      animation: blink 0.5s infinite;
      text-align: left;
      margin: 30px;
}

@keyframes blink {
                    0%   { color: red; }
                    25%  { color: yellow; }
                    50%  { color: lime; }
                    75%  { color: cyan; }
                    100% { color: magenta; }
}

h3{
    color:yellowgreen;
    text-align:center;
    font-weight: bold;
    font-size: 25px;
    height:80px;
    width: 50%;
    margin: 20px 0px 20px 0px;
    text-align:right; 
    display: inline-block;
}
h4{
    color: #ff0;
    text-align:center;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Times New Roman';
    font-size: 22px;

}
#HTH{
    color:rgb(255,255,0,0.7);
    text-align:center;
    text-decoration: dotted blue underline;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
    font-size: 19px;
    height:80px;
    width: 50%;
    padding-top: 15px;
    margin: 40px 0px 20px 0px;
    text-align:right; 
    display: inline-block;
}
#button1{
    background-color:black;
    font-weight: bold; 
    display: inline;
}

#button2{
    background-color:black;
    font-weight: bold;
    display: inline;
}
body{
    background-image: url(background.jpg);
    background-size: cover;
}
/* * {
     color: blue;
} */
#KATP{
        text-decoration: none;
        transition-property: all;
        transition-timing-function: ease-in ;
}

#KATP:hover{
             color: red;
             text-decoration: none;

}
#HT{
     text-decoration: none;
     transition-property: all;
     transition-timing-function: ease-in ;
}

#HT:hover{
            color: red;
            text-decoration: none;
}

#Rath{
      height: 250px;
      width: 400px;
      border: 3px solid brown;
      border-radius: 20px;
      margin-left: 50px;
      margin-right: 40px;
}
#DV{
      height: 250px;
      width: 410px;
      border: 3px solid brown;
      border-radius: 20px;
      margin-left: 40px;
      margin-right: 35px;
}
#TW{
      height: 250px;
      width: 410px;
      border: 3px solid brown;
      border-radius: 20px;
      margin-left: 35px;
      margin-right: 50px;
}
